<configuration>
  <packageSources>
    <add key="JFrogNuGet" value="https://trial0yko50.jfrog.io/artifactory/api/nuget/nugettest" />
  </packageSources>
  <packageSourceCredentials>
    <JFrogNuGet>
      <add key="Username" value="nishanth.axel8298@outlook.com" />
      <add key="ClearTextPassword" value="cmVmdGtuOjAxOjE3ODU0ODY2ODI6WlduT2VOVjdLUDZXeEprbWxiSXFobU9CSTBw" />
    </JFrogNuGet>
  </packageSourceCredentials>
</configuration>